@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "Nihil";
	description: "HMCL tweaks as a single Nilmod";
	authors: "Flamarine";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "io.github.prismwork.nihil.NihilPremain";
}
